body{
  font-family: 'Poppins', sans-serif;
}

.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.main-header {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.618), rgba(255, 255, 255, 0.809)), url(../img/agente6.jpg);
  background-size: cover;
  height: 900px;
}

.background-overlay {
  /* background: #30336b46; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control, .btn{
  /* border-radius: 0; */
}

.team, footer {
  background: #ffffff;
}

.team, footer p{
  color: #000;
  font-size:medium;
  margin-top: 14px;
  font-size: 17px;
}

.header-img {
  text-align: center;
}

.header-welcome {
  background-color: #333333;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.header-title {
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #000;
}

.header-title h1{
  font-weight: bold;
}

.header-title h4 span{
  font-weight: bold;
}

.header-img img{
  /* margin-top: -2.5%; */
  /* max-width: 20%; */
  width: 20%;
  margin: 10px;
}

.group-form-1{
  /* height: 500px; */
}

/* ESTILOS FORM */


/*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/
input[type="text"], input[type="email"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 30px;
  margin: 8px 0;
  outline: none;
  padding: 12px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus , input[type="email"]:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"],.inputWithIcon input[type="email"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
  width: 100%;
}

.inputWithIcon i {
  position: absolute;
  left: 6px;
  top: 18px;
  padding: 9px 8px;
  color: rgb(63, 62, 62);
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i, .inputWithIcon input[type="email"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i ,.inputWithIcon.inputIconBg input[type="email"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

#idFormularioRegistro>.btn{
  color:#ffffff;
  width: 100%;
  background-color: #000033;
  border-radius: 40px;
}

/* FIN ESTILOS FORM */

/* asjhdjshjds */
.home{
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #ededed;
  flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 470px;
}

.in-flex:first-child{
  flex:2;
  padding: 25px;
  background-color: #fff;
  margin: 20px;
  margin-bottom: 20px;
}

.in-flex div{
  padding: 25px;
  background-color: #fff;
  margin: 20px;
}


.main-header .col-sm-6{
  flex: 1;
  min-width: 440px;
}


.first-section .first-section-h1{
  margin-bottom: 50px;
}

.second-section .card img{
  width: 40%;
}

.main-header .col-sm-6:first-child{
  flex: 2;
  padding: 25px;
  margin: 20px;
}


/* cero section */
.section-cero{
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.618), rgba(255, 255, 255, 0.809)), url(../img/agente6.jpg);
  background-size: cover;
  /* height: 900px; */
}

.group-video{
  width: 90%;
}


.fourth-section .accordion{
  width: 50%; 
  margin-left: auto; 
  margin-right: auto;
}


.fifth-section{
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: x-large;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
}

.fifth-section-btn>button{
  color:#ffffff;
  width: 50%;
  background-color: #000033;
  border-radius: 40px;
  margin-bottom: 30px;
}

.fifth-section-btn a{
  color:#ffffff;
  text-decoration: none;
}

.fifth-section-btn a:hover{
  color: #f3bb2b;
}

.sixth-section{
  color: white;
  background-color: #000033;
}

.sixth-section .col-lg-4 p{
  font-size:smaller;
}

.sixth-section .col-lg-5 h3{
  font-size:xx-large;
}


/* ESTILOS CUENTA REGRESIVA */

#timedown{
  text-align: center;
  background: linear-gradient(0deg, rgba(56,56,56,1) 0%, rgba(75,75,75,1) 30%, rgba(126,140,154,1) 100%);
  color: #ddd;
  display: flex;
  border-radius: 15px;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  
}

#timedown div {
  font-weight: bold;
  font-size: 30px;
  padding:5px 10px;
  display: inline;
}

#timedown .text{
  font-weight: normal;
  font-size: 15px;
  display: block;
}

#timedown .days, #timedown .hours, #timedown .minuts{
  /* border-right: 1px solid #383838; */
  
}

#countdownHidden .countdown-block{
  margin-top: 20px;
  width: 58%;
  display: block;
}

.timedown-out{
  animation-duration: 3s;
  animation-name: out;
}


.time-over{
  font-size: 18px !important;
  margin: 20px;
  right:0px;
  font-family: 'Open Sans', sans-serif;
  animation-duration: 5s;
  animation-name: up;
}




@keyframes up {
  0% {
  margin-top:200px;

  }
  100% {
  margin-top: 0;

  }
}

@keyframes out{
  0% {
    margin-top:0;
  
    }
    100% {
    margin-top: -50%;
  
    }
}


/* FIN ESTILOS CUENTA REGRESIVA */



.last-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.last-section img{
  width: 40%;
}

.last-section .contenedor-textos-main{
  width: 40%;
}


.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
    /* margin-top: 80px; */
}

.parrafo{
  text-align: left;
  margin-bottom: 20px;
  font-size: 20px;
}


.last-section .contenedor-textos-main2{
  width: 60%;
}

.contenedor2{
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
  /* margin-top: 80px; */
}


/* MEDIA QUERYS */



@media only screen and (max-width: 700px){
  .header-img {
    text-align: center;
    }
    .main-header .col-sm-6 h1{
      padding-top: 50px;
    }   
}

@media only screen and (max-width: 1400px){
  #timedown {
    margin-left: -15px;
    width: 120%;
  } 
}

@media only screen and (max-width: 1200px){
  #timedown {
    width: 120%;
  } 
  #timedown div{
    width: 25%;
  }

  #countdownHidden h4{
    font-size: 110%;
  }

  #formSectionOne{
    align-items: center;
    /* justify-content: center; */
  }
}

@media only screen and (max-width: 1000px){
  .group-form-1{
    /* height: 650px;
    padding-bottom: 0px; */
    
    /* width:150%; /////*/
  } 

  .inputWithIcon input[type="email"] {
    padding-left: 70px;
  }

  .header-img img{
    width: 50%;
  }

  body{
    font-size: 30px;
  }

  .main-header .col-lg-6{
    margin-left:auto;
    margin-right:auto; 
    min-width: 700px;
  }

  .main-header .col-lg-6:first-child{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    height: 100px;
  }
  
  .header-img{
    text-align: center;
    margin-top: -25px;
  }

  .main-header{
    min-height: 990px;
    height: 2400px;
  }

  #idheader-main{
    min-height: 1200px;
  }

  .inputWithIcon input[type="text"] {
    padding-left: 70px;
  }


  .second-section .col-sm-4 {
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    padding-top: 90px;
    font-size: 30px;
  }

  .second-section .card img{
    width: 90%;
  }

  .fourth-section button{
    font-size: 30px;
  }
  
  .fourth-section .accordion{ 
    width: 100%;
  }

  .sixth-section .col-lg-3{
    margin-top: 50px;
  }

  .sixth-section .col-lg-5 h3{
    margin-top: 40px;
  }

  .sixth-section .col-lg-4{
    text-align: center;
  }

  .sixth-section .col-lg-3 .col-lg-4{
    padding-left: 150px;
  }

  .sixth-section .col-lg-4 p{
    text-align: center;
    margin-left: 50px;
    margin-right:50px;
  }

  #timedown{
    width: 63%;
    padding-right: 340px;
  }

  #main{
    /* background-color: black; */
  }
  
  .group-form-1{
    height: 740px;
  }

  /* .main-header .col-lg-12{
    height: 10px;
  } */


  .info-last .last-section img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .last-section .contenedor-textos-main{
    width: 98%;
    text-align: center;
    margin-bottom: 20px;
  }

  .last-section .contenedor-textos-main p{
    text-align: center;
    font-size: 40px;
  }

  .last-section .contenedor-textos-main>h2{
    text-align: center;
    font-size: 70px;
  }


/* sjdkajs */

.last-section .contenedor-textos-main2{
  width: 98%;
  text-align: center;
  margin-bottom: 20px;
}

.last-section .contenedor-textos-main2 p{
  text-align: center;
  font-size: 40px;
}

.last-section .contenedor-textos-main2>h2{
  text-align: center;
  font-size: 70px;
}


.contenedor-textos-main2 .titulo{
  margin-top: 100px;
}

.fifth-section p{
  font-size: 40px;
}


.main-header .background-overlay .container .row .col-lg-6>h1{
  font-size: 60px;
  /* width: 100%; */
}
  

.group-form-1{ 
  font-size: 50px;
  height: 100%;
}

.main-header button{
  font-size: 40px;
}

.main-header .background-overlay .container .row .col-lg-6 {
  margin-bottom: 400px;
}

.header-welcome h3{
  font-size:130%;
  margin-bottom: 30px;
}

.header-img img{
  width: 70%;
}

.header-title h1{
  font-size:200%;
} 

.header-title h4{
  font-size:130%;
}


#formSectionOne> .group-form-1 h3{
  font-size: 80%;
}

#formSectionOne>.group-form-1 h5{
  font-size: 70%;
}


.inputWithIcon input{
  font-size: 70%;
  border-radius: 90px;
}

.inputWithIcon i {
  font-size: 90%;
  margin:4px 7px;
}

#idFormularioRegistro>.btn{
  width: 100%;
  font-size: 90%;
  border-radius: 90px;
}

footer p{
  font-size: 120%;
}

.fifth-section-btn>button{
  width: 100%;
  font-size: 160%;
  border-radius: 80px;
}


/* CUENTA REGRESIVA */

#timedown{
  width: 100%;
}

#countdownHidden .countdown-block{
  margin-bottom: 30px;
  width: 100%;
  margin-left: 15%;
}

#timedown div {
  width: 100%;
  font-size: 90px;
}

#timedown .days{
  margin-left: 15%;
  text-align: center;
}

#timedown .text{
  font-size: 40px;
}

/* FIN CUENTA REGRESIVA */

.info-last .last-section .contenedor-textos-main .parrafo{
  font-size: 100%;
  text-align: center;
}

#idInfoLastSection p{
  font-size: 100%;
  text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}


}
